body{
  margin:0;
}
.wrap{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:380px;
}
.statusBar{
  height:45px;
}
.statusBar_column1{
  display:inline;
  float:left;
  background-color: aqua;
}
.statusBar_column2{
  background-color:blueviolet;
  display:inline;
  float:right;
}
.back{
  display:block;
  align-items: left;
  margin-bottom: 30px;
}
.info_id{
  margin-top:5px;
}
#id{
  margin-top: 1px;
  height: 52px;
  padding:0;

  margin-right:15px;
  width:220px;
}
#pw{

  height: 52px;
  padding:0;
  width:220px;

}
#pwC{

  height: 52px;
  padding:0;
  width:220px;
 
}
#check{
  display:inline-block;
  height:52px;
  width:58px;
  padding:0;
  margin-top: 2px;
}
.info_pw{
  margin-top: 1px;
  margin-bottom: 15px;
}
.pwinput{
  margin-top: 15px;
}
.pwCheck{
  
  margin-top: 15px;
  margin-bottom: 15px;
}
.info_location{
  margin-bottom: 33px;
}
.info_location_find{
  margin-bottom: 15px;
}
