body{
  margin:0;
}

.statusBar_column1{
  display:inline;
  float:left;
  background-color: aqua;
}
.statusBar_column2{
  background-color:blueviolet;
  display:inline;
  float:right;
}

.wrap{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo{
  position:relative;

  margin-top:200px;
  margin-bottom: 75px;
}
#id{
  display:block;
  height:55px;
 width: 320px;
 margin-right :0px;
 margin-bottom: 15px;
}
#pw
{
  display:block;
  height:55px;
 width: 320px;
 margin-bottom: 17px;
 
}
#login{
  display:block;
  width:168px;
  height: 52px;
  margin-bottom: 15px;
  background-color: #DBB2FF;
  border:0;
}
#join{
  display:block;
  width:168px;
  height: 52px;
  background-color: #DBB2FF;
  border:0;
  margin-bottom:160px;
}
.submitBtn{
  position:absolute;
  margin-left:76px;
  
}