/* *{margin: 0px; padding: 0px;} */


.sports{
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
}

.sports .sports_btn_group{
    height: 100px;
}
.sports .sports_btn_group .btn1{
    width: 60px;
    height: 65px;
    background: #ffffff;
    border:1.5px solid #AAAAAA;
    border-radius: 5px;
    font-size: 11px;
    letter-spacing: 0.04em;
    margin-top: 21px;
}
.location{
    height: 200px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}
.location .loca_btn_group{
    height:166px;
    margin-top: 20px;
    
}
.location .loca_btn_group #butt{
    width:65px;
    height: 30px;
    font-size: 13px;
    background-color: #ffffff;
    border: 1.2px solid #AAAAAA;
}
.search_btn{
    margin-top:60px;
    margin-left:50%
}
.search_btn #search_butt{
    position: absolute;
    width: 153px;
    height: 46px;
    background: #FFFFFF;
    border: 2px solid #DBB2FF;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
.search_btn #search_butt:hover{
    background-color: #DBB2FF;
}

.result_header{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.result{
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

.result .gym_text{
    margin-top: 15px;
    font-size: 13px;
}